# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Some files are created as lf - let's try not breaking them...
mod/Tiger-Moth-CIX-Mod.xml eol=lf
mod/PackageDefinitions/paulwalkeruk-tiger-moth-cix-mod.xml eol=lf
mod/PackageDefinitions/paulwalkeruk-tiger-moth-cix-mod/PackageMetadata.json eol=lf
